nav.navigation-bar li div:hover {
    background-color: #0a5ea3;
}

nav.navigation-bar li div:active {
    background-color: #064273;
}

.header-bar {
    width: 100%;
    height: 150px;
    background-color: #41A4F5;
    color: white;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-left: 20%;
    box-sizing: border-box;
    box-shadow: 0 4px 4px #0003;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

nav.navigation-bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    background-color: #0A71C6;
}

nav.navigation-bar ul a {
    color: #FFFFFF;
    text-decoration: none;
}

nav.navigation-bar li div {
    font-size: 1.2em;
    color: white;
    margin: 5px 3px;
    padding: 10px 8px;
    user-select: none;
    position: relative;
    border-radius: 3px;
    width: 85px;
    text-align: center;
}