/**
 * Navigation highlight
 */
#projects-nav {
    background-color: #064273;
}

#back-icon {
    font-size: 50px;
    margin-top: 10px;
}

/**
 * Project detail container
 */
.project-detail-container {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    margin-top: 30px;
    color: #555555;
}

/**
 * Project detail
 */
.project-detail-container p{
    line-height: 2em;
}

.project-detail-container h3{
    margin: 5px 0;
}

#er-diagram {
    width: 800px;
    margin: auto;
}

.screenshot {
    width: 400px;
}

iframe {
    width: 1000px;
    height: 600px;
}

/**
 * Responsive screen for smaller screen
 */
@media screen and (max-width: 1000px) {
    iframe {
        width: 500px;
        height: 300px;
    }
    #er-diagram {
        width: 400px;
    }
}