/**
 * Navigation highlight
 */
#schedule-nav {
    background-color: #064273;
}

/**
 * Personal schedule container
 */
.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

/**
 * Google calendar
 */
#google-calendar {
    border: 0;
    margin-top: 50px;
    width: 800px;
    height: 600px;
}